body{
  background-color: rgb(167, 195,255);
	background-repeat: no-repeat;
  background-position: center ;
  background-image: ("/images/campus.png");
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(167, 195, 255);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(95, 45, 177);
  text-align: center;
}

.menu_button {
	background-color: rgb(240, 236, 236);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
